.banner {
  position: relative;
  margin: 0 -70px 0 -70px;
  height: 300px;

  @include mobile_and_tablet {
    margin: 0 -45px 0 -45px;
    height: 180px;
  }

  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;

    @include mobile_and_tablet {
      height: 180px;
    }
  }

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: var(--basic-color-dark);
    opacity: 0.6;
    z-index: 19;

    @include mobile_and_tablet {
      height: 180px;
    }
  }

  .banner-title {
    padding: 70px 170px 0 170px;
    z-index: 20;
    font-size: 5rem;
    color: var(--basic-color-white);

    @include mobile_and_tablet {
      padding: 70px 75px 0 75px;
      font-size: 3rem;
    }

    &::before {
      content: "";
      width: 100px;
      height: 5px;
      background: var(--sec-color);
      position: absolute;
      bottom: 50px;

      @include mobile_and_tablet {
        display: none;
      }
    }
  }
}