.map-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;

  .map-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--basic-color-dark);
    height: 100vh;
    width: 100%;
    z-index: 20;
    opacity: 0.7;
  }

  .map-modal-content {
    display: flex;
    height: 80vh;
    width: 80%;
    z-index: 21;
    background-color: var(--basic-color-white);
    border: 2px solid var(--sec-color);
    border-radius: 20px;
    overflow: hidden;
  }

  .bubble-rider {
    visibility: hidden;
    transform: translate(70px, -120px);

    @include mobile_and_tablet {
      transform: translate(-100px, 30px);
    }

    .pointer {
      position: absolute;
      top: 65px;
      left: -10px;
      height: 40px;
      width: 40px;
      background: white;
      transform: rotate(45deg);

      @include mobile_and_tablet {
        top: -10px;
        left: 80px;
      }
    }

    .bubble {
      position: absolute;
      height: 170px;
      width: 200px;
      background: white;
      border-radius: 10px;
      text-align: center;
    }
  }
}