.navigation {
  background-color: var(--light-bg-color);
  margin: -20px -45px 0 -45px;
  padding: 10px 45px;

  .logo {
    width: 200px;
  }

  .navlink {
    text-decoration: none;
    color: var(--prim-color);
    cursor: pointer;
  
    &:hover {
      color: var(--darker-prim-color);
    }
  }

  .contest-button {
    background-color: var(--prim-color);
    border-radius: 10px;

    &:hover {
      background-color: var(--darker-prim-color);    
    }
  }
}