.rider-card {
  cursor: pointer;

  .card-front {
    height: 100%;
    width: 100%;
    border: 1px solid var(--sec-color);
    border-radius: 5px;

    img {
      height: 100%;
      width: 100%;
      border-radius:4px;
    }
  }

  // &:hover {
    
  // }

  .card-back {
    position: relative;

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: var(--basic-color-dark);
      opacity: 0;
      z-index: 9;
      transition: all .5s;
      visibility: visible;
      opacity: 0.95;
    }
  }
}