.contest {
  min-height: 100vh;

  .contest-content {
    padding: 50px 100px 0 100px;

    @include mobile_and_tablet {
      padding: 20px 0 0 0;
    }

    h3 {
      font-size: 2.5rem;
      color: var(--prim-color);

      @include mobile_and_tablet {
        font-size: 2rem;
        text-align: center;
      }
    }

    p {
      line-height: 1.6em;
      text-align: justify;
    }
  }
}

