.home {
  min-height: 100vh;

  .hero-section {
    position: relative;
    height: 100vh;
    margin: 0 -70px 0 -70px;
    
    @include mobile_and_tablet {
      margin: 0 -45px 0 -45px;
    }

    .bg-picture {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-image: url("../../assets/images/homepage_bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(60%);

      @include mobile_and_tablet {
        background-image: url("../../assets/images/homepage_bg_mb.jpeg");
        filter: brightness(70%);
      }
    }

    .hero-content {
      position: absolute;
      padding: 0 70px 0 70px;
      width: 100%;
      z-index: 20;
    
      @include mobile_and_tablet {
        padding: 0 45px 0 45px;
        text-align: center;
      }

      h1 {
        font-size: 2.5rem;
        color: white;
      }
    }
  }

  .box-section {
    margin: 0 -70px 0 -70px;
    
    @include mobile_and_tablet {
      margin: 0 -45px 0 -45px;
    }

    .colored-bg {
      position: relative;
      top: 0;
      left: 0;
      min-height: 60vh;
      width: 100%;
      background-color: var(--lighter-sec-color);
    }

    .boxes {
      margin: 0 70px 0 70px;
      width: 100%;
    
      @include mobile_and_tablet {
        margin: 0 45px 0 45px;
      }

      .box-content {
        cursor: pointer;
        position: relative;
        border: 2px solid var(--prim-color);
        width: 300px;
        height: 300px;

        @include mobile_and_tablet {
          width: 250px;
          height: 250px;
        }

        .img-box {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(50%);
        }

        h3 {
          z-index: 20;
          font-weight: bold;
          color: var(--basic-color-white);
          line-height: 1.6em;
        }

        &:hover {
          .img-box {
            filter: brightness(100%);
          }

          h3 {
            display: none;
          }
        }
      }
    }
  }

  .contest-section {
    min-height: 100vh;



  }
}