.home {
  min-height: 100vh;

  .hero-section {
    margin: 0 -70px 0 -70px;
    
    @include mobile_and_tablet {
      margin: 0 -45px 0 -45px;
    }

    .bg-picture {
      position: relative;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-image: url("../../assets/images/homepage_bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;

      @include mobile_and_tablet {
        background-image: url("../../assets/images/homepage_bg_mb.jpeg");      
      }
    }
  }
}