.photos {
  min-height: 100vh;

  .photos-container {
    min-height: 100vh;
    border: 2px solid var(--sec-color);
  }

  .button-gallery {
    cursor: pointer;
    background-color: var(--prim-color);
    color: var(--basic-color-white);
    width: 100px;
    border-radius: 10px;

    @include mobile {
      width: 60px;
    }

    &:hover {
      background-color: var(--darker-prim-color);
    }
  }
}