@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ VARIABLES $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

// -------------------- SCREEN SIZE VARIABLES -------------------- //
$small-phone-viewport: 575px;
$phone-viewport: 768px;
$tablet-viewport: 992px;


// -------------------- FONTS VARIABLES -------------------- //
$font-1: "Poppins", sans-serif;

// -------------------- COLORS VARIABLES -------------------- //
$basic-color-white:#ffffff;
$basic-color-grey-light: #e5e5e5;
$basic-color-grey-dark: #adb2b8;
$basic-color-dark:#292929;
$modal-bg: rgba(0, 0, 0, 0.726);
$modal-bg-dark: rgba(255, 255, 255, 0.726);

// ----- DAY MODE ----- //
$color-1: #42afaa;
$color-1-lighter: #87ccc9;
$color-1-darker: #3b9d99;
$color-2: #000000;
$transparent-color-2: rgba(0, 0, 0, 0.6);
$color-3: #ef767a;
$color-3-lighter: #f7babc;
$color-3-darker: #d76a6d;
$success: #5DA271;
$success-bg: #d4edda;
$danger: #fb3333;
$danger-bg: #f8d7da;
$warning: #efbb5b;
$warning-bg: #fff3cd;
$footer-color:#ebebeb;
$shadow-color1: rgba(0, 0, 0, 0.12);
$shadow-color2: rgba(0, 0, 0, 0.24);

// ----- NIGHT MODE (DARK) ----- //
$color-1-dark: #42afaa;
$color-1-lighter-dark: #87ccc9;
$color-1-darker-dark: #348c88;
$color-2-dark: #ffffff;
$transparent-color-2-dark: rgba(255, 255, 255, 0.6);
$color-3-dark: #ef767a;
$color-3-lighter-dark: #f7babc;
$color-3-darker-dark: #bf5e61;
$success-dark: #7db58d;
$danger-dark: #fc5c5c;
$warning-dark: #f1f173;
$footer-color-dark:#7e7e7e;
$shadow-color1-dark: rgba(255, 255, 255, 0.88);
$shadow-color2-dark: rgba(255, 255, 255, 0.76);


// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
:root {
  --basic-color-white:#{$basic-color-white};
  --basic-color-grey-light:#{$basic-color-grey-light};
  --basic-color-grey-dark:#{$basic-color-grey-dark};
  --basic-color-dark:#{$basic-color-dark};

  --prim-color:#{$color-1};
  --lighter-prim-color:#{$color-1-lighter};
  --darker-prim-color:#{$color-1-darker};
  --sec-color:#{$color-2};
  --transparency-sec-color: #{$transparent-color-2};
  --third-color:#{$color-3};
  --lighter-third-color:#{$color-3-lighter};
  --darker-third-color:#{$color-3-darker};
  --success-color:#{$success};
  --success-bg-color:#{$success-bg};
  --danger-color:#{$danger};
  --danger-bg-color:#{$danger-bg};
  --warning-color:#{$warning};
  --warning-bg-color:#{$warning-bg};
  --footer-color:#{$footer-color};
  --shadow-color1:#{$shadow-color1};
  --shadow-color2:#{$shadow-color2};
}

.dark-mode {
  --basic-color-white:#{$basic-color-dark};
  --basic-color-grey-light:#{$basic-color-grey-dark};
  --basic-color-grey-dark:#{$basic-color-grey-light};
  --basic-color-dark:#{$basic-color-white};

  --prim-color:#{$color-1-dark};
  --lighter-prim-color:#{$color-1-darker-dark};
  --darker-prim-color:#{$color-1-lighter-dark};
  --sec-color:#{$color-2-dark};
  --transparency-sec-color: #{$transparent-color-2-dark};
  --third-color:#{$color-3-dark};
  --lighter-third-color:#{$color-3-lighter-dark};
  --darker-third-color:#{$color-3-darker-dark};  
  --success-color:#{$success};
  --success-bg-color:#{$success-bg};
  --danger-color:#{$danger};
  --danger-bg-color:#{$danger-bg};
  --warning-color:#{$warning};
  --warning-bg-color:#{$warning-bg};
  --footer-color:#{$footer-color-dark};
  --shadow-color1:#{$shadow-color1-dark};
  --shadow-color2:#{$shadow-color2-dark};
}


@mixin small_mobile {
  @media (max-width: $small-phone-viewport) { @content; }
}

@mixin mobile {
  @media (max-width: $phone-viewport) { @content; }
}

@mixin tablet {
  @media (min-width: $phone-viewport) and (max-width: $tablet-viewport) { @content; }
}

@mixin mobile_and_tablet {
  @media (max-width: $tablet-viewport) { @content; }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  border: 3px solid var(--prim-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 20px 45px;
  font-family: $font-1;
  background-color: var(--basic-color-white);
  color: var(--sec-color);
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--sec-color);
  cursor: pointer;

  &:visited, &:hover {
    color: var(--sec-color);
  }
}
